[run]
branch = True
source = .
relative_files = True
omit =
    tests/*
    */tests/*
    alembic/versions/*
    */alembic/versions/*
    .venv/*
    */__pycache__/*

[report]
omit =
    tests/*
    */tests/*
    alembic/versions/*
    */alembic/versions/*
    .venv/*
    */__pycache__/*
exclude_also =
    if TYPE_CHECKING:
    if __name__ == .__main__.:
    raise NotImplementedError
show_missing = True
skip_covered = False

[xml]
output = coverage.xml
